<form id="MyForm" method="post" action="/auth">
    
    <h4>Данные для входа</h4>

    Логин для входа:
    <input name="username" type="text" value=""/></br></br>
    
    Пароль для входа:
    <input name="password" type="text" value=""/></br></br>    
        
	<input type="submit" value="Войти"/>	
  
</form>
