<form id="MyForm" method="post" action="/userCreate">
    
    <h4>Данные нового пользователя</h4>
    Имя и фамилия пользователя:</br>
    <input name="name" type="text" value=""/></br></br>

    Возраст пользователя:</br>        
    <input name="age" type="text" value=""/></br></br>

    Логин пользователя для входа:</br>    
    <input name="username" type="text" value=""/></br></br>

    Пароль пользователя для входа:</br>        
    <input name="password" type="text" value=""/></br></br>
    
    <input type="submit" value="Добавить"/>
	
</form>
