<form id="MyForm" method="post" action="/userCreate">
        
    <input name="name" type="text" value=""/>
        
    <input name="age" type="text" value=""/>
        
    <input type="submit" value="Добавить"/>
	
</form>
