<html>
<head>
    <script>
        function getCookie(name) {
            var matches = document.cookie.match(new RegExp(
                "(?:^|; )" + name.replace(/([\.$?*|{}\(\)\[\]\\\/\+^])/g, "\\$1") + "=([^;]*)"
            ))
            return matches ? decodeURIComponent(matches[1]) : undefined
        }

        function setCookie(name, value, props) {
            props = props || {}
            var exp = props.expires
            if (typeof exp == "number" && exp) {
                var d = new Date()
                d.setTime(d.getTime() + exp * 1000)
                exp = props.expires = d
            }
            if (exp && exp.toUTCString) {
                props.expires = exp.toUTCString()
            }

            value = encodeURIComponent(value)
            var updatedCookie = name + "=" + value
            for (var propName in props) {
                updatedCookie += "; " + propName
                var propValue = props[propName]
                if (propValue !== true) {
                    updatedCookie += "=" + propValue
                }
            }
            document.cookie = updatedCookie

        }

        function fn() {
            var elem = document.getElementsByName("site")[0]
            var currentOptionIndex = elem.selectedIndex;
            setCookie("OptionIndex", currentOptionIndex);
        }

        window.onload = function () {
            var elem = document.getElementsByName("site")[0];
            elem.selectedIndex = getCookie("OptionIndex") || 1;
        }
    </script>
</head>

<body>
    <form id="MyForm" method="post" action="/">

        <select id="site" name="site" onchange="fn()">
            <option value="https://www.rbc.ru/; .main__feed__link">РБК</option>
            <option value="https://www.forbes.ru/tekhnologii; .business-article-item">Форбс-Технологии</option>
        </select>
        <input type="submit" value="Отправить"/>

	</form>
	
    <ul>
        {{#each news}}
            <li><a href="/news/hbs/{{this.idx}}">{{this.title}}</a></li>
        {{/each}}
    </ul>
</body>
</html>
