<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Главная</title>
</head>
<body>
    <div>
        <h2>Главная</h2>
        <a href="./task"><button>Задачи</button></a>
    </div>
</body>
</html>
